/*
 *
 * @author: @hadi_michael
 * @date: May-July 2013
 *
 */

/***** general *****/
html, body {
	margin:0;
	padding:0;
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif; 
}

.container {
	height: auto;
	margin: 0 5% 0 5%;
}
/***** /general *****/

/***** scoreboard *****/
#visualiser {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

.scorebar_item {
	width: 50%;
	height: 100%;
}

#scorebar_positive {
	background-color: #00aa00;
	float: left;
}

#scorebar_negative {
	background-color: #aa0000;;
	float: right;
}
/***** /scoreboard *****/

/***** header *****/
#header {
	text-align: center;
}
/***** /header *****/

/***** stats *****/
#scoreboard {
	display: block;
	margin-top: 2%;
	margin-bottom: 2%;
}

.column {
	vertical-align: text-top;
	text-align: center;
	display: inline-block;	 
	/*border: 1px solid;*/
}

.left{
	width: 30%;
	float: left;
}

.middle{
	width: 30%;
	margin-left: 5%;
}

.right{
	width: 30%;
	float: right;
}

.score {
	font-size: 100px;
}

.positive {
	color: #00aa00;
}


.negative {
	color: #aa0000;
}

hr {
	border: 0;
	width: 100%;
	color: #DDDDDD;
	background-color: #DDDDDD;
	height: 2px;
}
/***** /stats *****/

/***** description *****/
.action {
	font-size: 24px;
	font-weight: bold;
}

#description {
	text-align: center;
}
/***** /description *****/

/***** recent_tweets *****/
.ticker {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ticker li {
	border-bottom: 1px solid #DDDDDD;
	padding: 10px;
	margin: 0px;
	display: list-item;
	overflow: hidden;
	font-size: 1.4em;
	height: 70px;
}

.ticker-indicator.positive {
	background-color: #00aa00;
}

.ticker-indicator.undetermined {
	background-color: white;
}

.ticker-indicator.negative {
	background-color: #aa0000;
}

.ticker-indicator {
	float: right;
	height: 70px;
	width: 7px;
	/*margin-right: 10px;*/
	margin-left: 15px;
}

.ticker img {
	float: left;
	width: 10%;
	min-height: 40px;
	min-width: 40px;
	max-height: 70px;
	max-width: 70px;
	margin-right: 10px;
}
/***** /recent_tweets *****/