/*
 * styles.css -> Primary stylesheet
 *
 * Author: @hadi_michael
 * Date: May 2013
 *
 */

/***** general *****/
html, body {
	margin:0;
	padding:0;
    background-color: #FFFFFF;
    font-family: Helvetica, Arial, sans-serif; 
}

.container {
	height: auto;
	margin: 0 5% 0 5%;
}
/***** /general *****/

/***** colourbar *****/
#scoreboard {
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
}

#scoreboard_positive {
	background-color: green;
	width: 75%;
	float: left;
	height: 100%;
}

#scoreboard_negative {
	background-color: red;
	width: 25%;
	float: right;
	height: 100%;
}
/***** /colourbar *****/

/***** header *****/
#header {
	text-align: center;
	top: 100px;
}
/***** /header *****/

/***** stats *****/
#stats {
	display: block;	
	height: 200px;
}

#stats h3 {
	margin: 0px;
}

#stats .column {
	vertical-align:text-top;
	display: inline-block;	 
}

#stats .left{
	width: 45%;
	float: left;
}

#stats .right{
	width: 45%;
	float: right;
}

#stats .graph {
	padding: 10px;
	margin: 10px;
	position: relative;
	width: 250px;
	height: 150px;
}

hr {
	border: 0;
	width: 100%;
	color: #DDDDDD;
	background-color: #DDDDDD;
	height: 2px;
}
/***** /stats *****/

/***** recent_tweets *****/
.ticker {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
}

.ticker li {
	border-bottom: 1px dotted #6d7180;
	padding: 10px;
	margin: 0px;
	display: list-item;
	overflow: hidden;
	font-size: 1.4em;
}

.ticker li.positive {
	background-color: white; /* rgba(0, 255, 0, .1); */
}

.ticker li.neutral {
	background-color: white; /* rgba(0, 0, 255, .1); */
}

.ticker li.negative {
	background-color: white; /* rgba(255, 0, 0, .1); */
}

.ticker img {
	float: left;
	width: 10%;
	min-height: 40px;
	min-width: 40px;
	max-height: 70px;
	max-width: 70px;
	margin-right: 10px;
}
/***** /recent_tweets *****/